body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Raleway', sans-serif;
}
.title {
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
}


.dropzone {
  background-color: #ccc;
  padding: 10px;
  width: 400px;
  border: dashed 4px transparent;
  float: right;
  height: 300px;
  position: fixed;
  z-index: 1;
  right: 10px;
}

.draggable {
  display: inline-grid;
  width: 150px;
  height: 100px;
  background-color: #2196F3;
  color: white;
  padding:10px;
  margin: 10px;
  
}
#billHolder {
 
 

  
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #000;
  color: #FFF;
  border-color: #fff;
  border-style: solid;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}