html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #4d4d4d;
}
.container,
.row {
  height: 100%;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 5em;
}
.title {
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
}
.nav-links {
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  padding-top: .4em;
}
.font-awesome-icons {
  padding-right: .3em;
}
.top-row {
  margin-top: 3em;
  margin-bottom: .5em;
  padding: 0 20px;
}
.page-1-title {
  margin-top: 5%;
}
.page-1-description {
  margin-bottom: 20px;
}
.panel-header-style {
  font-size: 1.5em;
  margin-top: 2em;
  font-family: 'Raleway', sans-serif;
}
.topic-btn-area hr {
  margin-bottom: 0px;
}
.magnify-icon {
  display: none;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-styling {
  border-radius: 23px;
}
.btn-styling {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .05rem;
  text-transform: uppercase;
  border: 0px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.submit-btn-style {
  background-color: #2e71f2;
  color: #ffffff;
  min-width: 150px;
}
.topic-btn-style {
  min-width: 150px;
  margin: 5px 15px;
}
.get-involved-btn-style {
  background-color: #01d6c4;
  color: #ffffff;
  min-width: 150px;
}
.btn-styling:focus {
  outline: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.submit-btn-style:focus {
  -webkit-box-shadow: inset 0 0 0 4px #0c32c9, 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: inset 0 0 0 4px #0c32c9, 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
}
.topic-btn-style:focus {
  -webkit-box-shadow: inset 0 0 0 4px #9425e9, 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: inset 0 0 0 4px #9425e9, 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
}
.get-involved-btn-style:focus {
  -webkit-box-shadow: inset 0 0 0 4px #0db2c4, 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: inset 0 0 0 4px #0db2c4, 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
}
.btn-styling:hover {
  color: #ffffff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.submit-btn-style:hover {
  background-image: -webkit-linear-gradient(45deg, #0c32c9 0%, #2e71f2 100%);
  background-image: -o-linear-gradient(45deg, #0c32c9 0%, #2e71f2 100%);
  background-image: linear-gradient(45deg, #0c32c9 0%, #2e71f2 100%);
}
.topic-btn-style:hover {
  background-image: -webkit-linear-gradient(45deg, #8725e9 0%, #bf25e9 100%);
  background-image: -o-linear-gradient(45deg, #8725e9 0%, #bf25e9 100%);
  background-image: linear-gradient(45deg, #8725e9 0%, #bf25e9 100%);
}
.get-involved-btn-style:hover {
  background-image: -webkit-linear-gradient(45deg, #0db2c4 0%, #01d6c4 100%);
  background-image: -o-linear-gradient(45deg, #0db2c4 0%, #01d6c4 100%);
  background-image: linear-gradient(45deg, #0db2c4 0%, #01d6c4 100%);
}
.btn-styling:active {
  color: #ffffff;
  -webkit-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.submit-btn-style:active {
  background-image: -webkit-linear-gradient(45deg, #0c32c9 0%, #2e71f2 100%);
  background-image: -o-linear-gradient(45deg, #0c32c9 0%, #2e71f2 100%);
  background-image: linear-gradient(45deg, #0c32c9 0%, #2e71f2 100%);
}
.topic-btn-style:active {
  background-image: -webkit-linear-gradient(45deg, #8725e9 0%, #bf25e9 100%);
  background-image: -o-linear-gradient(45deg, #8725e9 0%, #bf25e9 100%);
  background-image: linear-gradient(45deg, #8725e9 0%, #bf25e9 100%);
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
.input-styling {
  background-color: #bbbbbb;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  width: 98%;
  height: 45px;
  border: 0px;
  border-radius: 5px;
  padding: 5px 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
}
.input-styling:focus {
  outline: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 0 0 20px 4px #aeaeae, 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: inset 0 0 20px 4px #aeaeae, 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
}
.input-styling:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2e71f2 inset, 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 0px 30px #2e71f2 inset, 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  -webkit-text-fill-color: #ffffff !important;
}
/* Bill Cards Styling */
.bill-cards-styling {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.bill-cards-styling:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* Drag and Drop */
.sidebar-dropzone {
  height: 100vh;
}
.drop-here-text {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  font-weight: bolder;
}
.holder {
  width: 100%;
}
.dropzone {
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  min-height: 600px;
  height: 100%;
  border: dashed 10px transparent;
  display: block;
  z-index: 1;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
}
.draggable {
  cursor: move;
  /* fallback: no `url()` support or images disabled */
  cursor: url(images/grab.cur);
  /* fallback: Internet Explorer */
  cursor: -webkit-grab;
  /* Chrome 1-21, Safari 4+ */
  /* Firefox 1.5-26 */
  cursor: grab;
  /* W3C standards syntax, should come least */
  height: 120px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  color: #4d4d4d;
  overflow: hidden;
  padding: 2% 2.0833%;
  margin: 2% 4.166%;
  border-left: 10px solid #01d6c4;
  border-radius: 3px;
  font-size: 1.2em;
  line-height: 1.2em;
}
.draggable:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.draggable:active {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 100;
  cursor: url(images/grabbing.cur);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
#billHolder {
  float: left;
  width: 100%;
}
.drop-active {
  border-color: #aaa;
}
.drop-target {
  background-color: #2e71f2;
  color: #ffffff;
  border-radius: 3px;
}
/* Accordion of bills for mobile */
.accordion {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  color: #4d4d4d;
  font-size: 1.5em;
  border: none;
  border-left: 10px solid #01d6c4;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  outline: none;
}
.accordion:hover {
  background-color: #bbbbbb;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.active {
  background-color: #d8d8d8;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0;
}
/* styles for '...' */
.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 6.0em;
  margin-right: 0em;
  padding-right: 1em;
}
/* creates the '...' at end of text block */
.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #ffffff;
}
/* Style the accordion panel. Note: hidden by default */
.accordionPanel {
  padding: 20px 18px 30px 18px;
  display: none;
  margin-bottom: 10px;
  background-color: white;
  border-left: 10px solid #01d6c4;
  font-size: 1.1em;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
}
.accordion-panel-subheaders {
  font-size: 1.3em;
}
/* Hide different pages div until activated */
#page2 {
  display: none;
}
#page3 {
  display: none;
}
#table {
  display: none;
}
#addressPopup {
  display: none;
}
.bill-title-style {
  font-size: 2.3em;
  line-height: 1.1em;
  font-weight: bolder;
  padding: 0 0 20px 0;
}
.bill-info-mini-panel {
  border: 1px solid #2e71f2;
  border-radius: 3px;
}
.mini-panel-heading-style {
  background-color: #2e71f2;
  color: #ffffff;
  padding: 5px;
}
.bill-detail-text-style {
  font-size: 1.2em;
}
.affix-top,
.affix {
  position: static;
}
.rep-card {
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  min-height: 380px;
  margin: 3% 4.166%;
  padding: 2% 1%;
}
.rep-card img {
  height: 200px;
}
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #2e71f2;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  display: block;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  header {
    text-align: center;
  }
  .page-1-title {
    margin-top: 5%;
  }
  h1 {
    font-size: 3em;
  }
  .page-1-description {
    font-size: 1em;
  }
  .nav-links {
    padding-bottom: 1em;
  }
  #sidebar,
  #billHolder {
    display: none;
  }
  #accordianBillHolder {
    display: block;
  }
  .submit-btn-style span {
    display: none;
  }
  .submit-btn-style {
    min-width: 70px;
  }
  .magnify-icon {
    display: block;
  }
  .rep-card {
    margin: 1% 0;
  }
}
@media (min-width: 769px) {
  #sidebar,
  #billHolder {
    display: block;
  }
  #accordianBillHolder {
    display: none;
  }
  .nav-links {
    text-align: right;
  }
  .drop-here-text {
    margin-top: 45%;
  }
}
@media (min-width: 992px) {
  #sidebar,
  #billHolder {
    display: block;
  }
  #accordianBillHolder {
    display: none;
  }
  #sidebar.affix-top {
    position: static;
    margin-top: 0px;
    margin-left: -40px;
    width: 500px;
  }
  #sidebar.affix-bottom {
    position: relative;
  }
  #sidebar.affix {
    position: fixed;
    top: 20px;
    margin-left: -40px;
    width: 500px;
  }
  .drop-here-text {
    margin-top: 45%;
  }
  .nav-links {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  #sidebar,
  #billHolder {
    display: block;
  }
  #accordianBillHolder {
    display: none;
  }
  #sidebar.affix-top {
    position: static;
    margin-top: 0px;
    margin-left: -10px;
    width: 555px;
  }
  #sidebar.affix-bottom {
    position: relative;
  }
  #sidebar.affix {
    position: fixed;
    top: 20px;
    margin-left: -10px;
    width: 555px;
  }
  .drop-here-text {
    margin-top: 40%;
  }
}