// Variables

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

.title {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
}

.holder {
    width: 100%;
    height: 500px;
  }
  .dropzone {
    background-color: #ccc;
    padding: 10px;
    width: 500px;
    height: 90%;
    border: dashed 4px transparent;
    float: right;
  }
  
  .draggable {
    width: 200px;
    height: 100px;
    float:left;
    background-color: #2196F3;
    color: white;
    padding:10px;
    margin: 10px;
  }
  
  .drop-active {
    border-color: #aaa;
  }
  
  .drop-target {
    background-color: #000;
    color: #FFF;
    border-color: #fff;
    border-style: solid;
  }
  